body {
    color: rgb(62, 82, 173);
    display: flex;
    justify-content: center;
    background-color: #223874
}

.container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(207, 207, 207);
    text-align: center;
    border: 20px;
    padding: 50px;
    border-radius: 15px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;

}
